@import "../../variables.modules";

i {
  padding-left: 0.5rem;
  font-size: 1.5rem !important;

  &.red {
    color: $red;
  }

  &.amber {
    color: $yellow;
  }

  &.green {
    color: $green;
  }

  &.blue {
    color: $blue;
  }
}

.section {
  p {
    margin: 1rem 0;
  }

  li {
    margin: 1rem 0;
    list-style-type: square;
  }

  &.title {
    display: flex;
    margin: 0 10%;
    width: 80%;
    justify-content: center;
    font-weight: bold;
  }

  a, a:visited {
    animation: changeColors 3s infinite;
    font-weight: bold;
  }
}

@keyframes changeColors {
  0% {
    color: #00a47f;
  }
  33.3% {
    color: #1d91e3;
  }
  66.6% {
    color: #d419fe;
  }
  100% {
    color: #00a47f;
  }
}